<form action="{{  path('post-register') }}" method="post">
    <label for="username">Username</label>
    <input type="text" name="username"/>
    <br/>
    <label for="passsword">Password</label>
    <input type="password" name="password"/>
    <br/>
    <input type="submit"/>
</form>
